\#*
*#*
*.stackdump
*.elc
*.pyc
/*.zip
# Private directory

private/
!private/README.md
!private/snippets/README.md
!private/local/README.md
/games/
emacs_demon.cmd~
emacs_demon.cmd~
emacs_demon.cmd~
*.el~
.emacs~
emacs_demon.cmd~
.emacs~
